.navbar-nav
{
    display: flex;
    width: 100%;
    justify-content: end;
}

.navbar-brand
{
    margin-left: 15px;
}
.nav-item
{
    margin-right: 15px;
}
.navLink
{
    color: black;
}

svg.bi-cart
{
    fill: black;
}

.navbar-light
{
    background-color: #e3f2fd;
}
